body {
        background-color: black;
	color: white;
	font-family: sans;
}

.blockphoto {
	position: relative;
}
.photo {
	position: relative;
	width: 300px;
}
.ribon {
	position: absolute;
	height: 120px;
	top: -34px;
	left: 204px;
}


