{% extends "skeleton.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
{% block contentleft %}
  {% include "contentleft.html" %}
{% endblock %}
{% block contentright %}
    <div class="blockphoto">
    {% for pict in picturesList %}
      <p>
        <div class="photo">
	<img class="fancybox" src="{{ pict.fichier.url }}"/>
	{% if pict.sold %}
  <img class="ribon" src="{% static "galerie/ribon2.png" %}"/>
	{% endif %}
	</div>
        {{ pict.name }} : {{ pict.reference  }}
      </p>
    {% endfor %}
	</div>
{% endblock %}
{% endblock %}
